@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.con{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
img{
    width: 236px;
    height: 40px;
}
.navBar ul{
    list-style: none;
    display: flex;
    gap: 30px;
    width: fit-content;
}
li a{
    text-decoration: none;
    color: black;
}

.btnCon{
    display: flex;
    gap: 20px;

}
.btnCon button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 28px;
}
.dp{
    background-color: #5794F0;
    color: white;
}
.up{
    background-color: #FCBD06;
    color: #fff;

}
