*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    width: 100%;
    height: auto;
}
.main .left{
    width: 30%;
    height: 100vh;
    display:flex;
    background-color: white;
    flex-direction: column;
    padding: 20px;
}
.main .right{
    width: 70%;
    height: 100vh;
    display:flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}
img{
    width: 30%;
    border-radius: 50%;
}
.main .left .primaryInfo{
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(236, 235, 235);
    padding: 10px;
    border-radius: 10px;
}
.main .left .upload{
    width: 100%;
    background-color: rgb(236, 235, 235);
}
.main .left .links{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(236, 235, 235);
    border-radius: 10px;
}
.main .left .links .link {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.main .left .skills{
    width: 100%;
    background-color: rgb(236, 235, 235);
    padding: 10px;
    border-radius: 10px;
}